trigger: 
  - Main

pool:
  name: default

variables:
- name: work_dir
  value: '$(System.DefaultWorkingDirectory)/env/prod'

steps:
- task: TerraformInstaller@1
  displayName: 'terraform install'
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName: 'terraform init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(work_dir)'
    backendServiceArm: 'Deepak_serviceconnection'
    backendAzureRmStorageAccountName: 'deep57stg'
    backendAzureRmContainerName: 'deepcnt'
    backendAzureRmKey: 'prod/terraform.tfstate'

- task: TerraformTask@5
  displayName: 'terraform validate'
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(work_dir)'

- task: TerraformTask@5
  displayName: 'terraform fmt'
  inputs:
    provider: 'azurerm'
    command: 'custom'
    customCommand: 'fmt'
    workingDirectory: '$(work_dir)'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'

- task: TerraformTask@5
  displayName: 'terraform plan'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(work_dir)'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'

- task: TerraformTask@5
  displayName: 'terraform apply'
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(work_dir)'
    environmentServiceNameAzureRM: 'Deepak_serviceconnection'
