# Trigger main and PRs
trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - feature/*

pool:
  name: default

variables:
  - name: work_dir
    value: '$(System.DefaultWorkingDirectory)/env/dev'

# Stage for feature branches → Plan only
- stage: PlanFeature
  displayName: "Terraform Plan for Feature Branch"
  condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')
  jobs:
  - job: TerraformPlan
    displayName: "Plan Feature Branch"
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(work_dir)'
        backendServiceArm: 'Deepak_serviceconnection'
        backendAzureRmStorageAccountName: 'deep57stg'
        backendAzureRmContainerName: 'deepcnt'
        backendAzureRmKey: 'dev/terraform.tfstate'

    - task: TerraformTask@5
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(work_dir)'
        environmentServiceNameAzureRM: 'Deepak_serviceconnection'

# Stage for main branch → Plan + Apply
- stage: ApplyMain
  displayName: "Terraform Plan & Apply on Main"
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  jobs:
  - job: TerraformApply
    displayName: "Plan & Apply Main Branch"
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(work_dir)'
        backendServiceArm: 'Deepak_serviceconnection'
        backendAzureRmStorageAccountName: 'deep57stg'
        backendAzureRmContainerName: 'deepcnt'
        backendAzureRmKey: 'prod/terraform.tfstate'

    - task: TerraformTask@5
      displayName: 'Terraform Validate'
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(work
